<!-- 引入框架 -->
<div th:replace="frame::html"></div>
<meta charset="UTF-8">

        序号：<input type="text" name="id"/><br/>
        设备编码：<input type="text" name="code"/><br/>
        设备名称：<input type="text" name="equName"/><br/>
        设备型号：<input type="text" name="type"/><br/>
        设备描述：<input type="text" name="equDesc"/><br/>
        使用说明：<input type="text" name="instruction"/><br/>
        购买日期：<input type="text" name="buyDate"/><br/>
        供应商id：<input type="text" name="proId"/><br/>
        启用日期：<input type="text" name="startDate"/><br/>
        设备使用状态：<input type="text" name="useStatus"/><br/>
        安装位置：<input type="text" name="location"/><br/>
                <input type="submit" value="确定"/><br/>

</body>
</html>