<meta charset="UTF-8">
<table id="ass_en" border="1px">

    <thead>
        <tr>
            <th colspan="5">技术人员考核表</th>
        </tr>

        <tr>
            <th colspan="2">项目及考核内容</th>
            <th>配分</th>
            <th>自评</th>
            <th>上级审核</th>
        </tr>

        <tr>
            <td rowspan="4">工作任务30%</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>

        <tr>
            <td rowspan="4">工作质量20%</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr><tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>

        <tr>
            <td rowspan="4">工作技能10%</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr><tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td rowspan="4">工作态度与责任感15%</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr><tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td rowspan="4">协调性15%</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr><tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td rowspan="4"> 纪律性10%</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr><tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td colspan="5">备注:</td>
        </tr>
        <tr>
            <td>考核人签名</td>
            <td><input type="text"/></td>
            <td>领导签字</td>
            <td><input type="text"/></td>
            <td>考核日期:<input type="text"/></td>
        </tr>
    </thead>
</table>