<meta charset="UTF-8">
<table id="ass_en" border="1px">

    <thead>
        <tr>
            <th colspan="5">技术人员考核表</th>
        </tr>

        <tr>
            <th colspan="2">项目及考核内容</th>
            <th>配分</th>
            <th>自评</th>
            <th>上级审核</th>
        </tr>

        <tr>
            <td rowspan="4">工作任务30%</td>
            <td><input id="task1" type="text"/></td>
            <td><input id="taskPartition1" type="text"/></td>
            <td><input id="taskSelf1" type="text"/></td>
            <td><input id="taskSupervisor1" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="task2" type="text"/></td>
            <td><input id="taskPartition2" type="text"/></td>
            <td><input id="taskSelf2" type="text"/></td>
            <td><input id="taskSupervisor2" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="task3" type="text"/></td>
            <td><input id="taskPartition3" type="text"/></td>
            <td><input id="taskSelf3" type="text"/></td>
            <td><input id="taskSupervisor3" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="task4" type="text"/></td>
            <td><input id="taskPartition4" type="text"/></td>
            <td><input id="taskSelf4" type="text"/></td>
            <td><input id="taskSupervisor4" type="text" size="30"/></td>
        </tr>

        <tr>
            <td rowspan="4">工作质量20%</td>
            <td><input id="quality1" type="text"/></td>
            <td><input id="quaPartition1" type="text"/></td>
            <td><input id="quaSelf1" type="text"/></td>
            <td><input id="quaSupervisor1" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="quality2" type="text"/></td>
            <td><input id="quaPartition2" type="text"/></td>
            <td><input id="quaSelf2" type="text"/></td>
            <td><input id="quaSupervisor2" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="quality3" type="text"/></td>
            <td><input id="quaPartition3" type="text"/></td>
            <td><input id="quaSelf3" type="text"/></td>
            <td><input id="quaSupervisor3" type="text" size="30"/></td>
        </tr><tr>
            <td><input id="quality4" type="text"/></td>
            <td><input id="quaPartition4" type="text"/></td>
            <td><input id="quaSelf4" type="text"/></td>
            <td><input id="quaSupervisor4" type="text" size="30"/></td>
        </tr>

        <tr>
            <td rowspan="4">工作技能10%</td>
            <td><input id="skill1" type="text"/></td>
            <td><input id="skillPartition1" type="text"/></td>
            <td><input id="skillSelf1" type="text"/></td>
            <td><input id="skillSupervisor1" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="skill2" type="text"/></td>
            <td><input id="skillPartition2" type="text"/></td>
            <td><input id="skillSelf2" type="text"/></td>
            <td><input id="skillSupervisor2" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="skill3" type="text"/></td>
            <td><input id="skillPartition3" type="text"/></td>
            <td><input id="skillSelf3" type="text"/></td>
            <td><input id="skillSupervisor3" type="text" size="30"/></td>
        </tr><tr>
            <td><input id="skill4" type="text"/></td>
            <td><input id="skillPartition4" type="text"/></td>
            <td><input id="skillSelf4" type="text"/></td>
            <td><input id="skillSupervisor4" type="text" size="30"/></td>
        </tr>
        <tr>
            <td rowspan="4">工作态度与责任感15%</td>
            <td><input id="attitude1" type="text"/></td>
            <td><input id="attPartition1" type="text"/></td>
            <td><input id="attSelf1" type="text"/></td>
            <td><input id="attSupervisor1" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="attitude2" type="text"/></td>
            <td><input id="attPartition2" type="text"/></td>
            <td><input id="attSelf2" type="text"/></td>
            <td><input id="attSupervisor2" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="attitude3" type="text"/></td>
            <td><input id="attPartition3" type="text"/></td>
            <td><input id="attSelf3" type="text"/></td>
            <td><input id="attSupervisor3" type="text" size="30"/></td>
        </tr><tr>
            <td><input id="attitude4" type="text"/></td>
            <td><input id="attPartition4" type="text"/></td>
            <td><input id="attSelf4" type="text"/></td>
            <td><input id="attSupervisor4" type="text" size="30"/></td>
        </tr>
        <tr>
            <td rowspan="4">协调性15%</td>
            <td><input id="harmony1" type="text"/></td>
            <td><input id="harPartition1" type="text"/></td>
            <td><input id="harSelf1" type="text"/></td>
            <td><input id="harSupervisor1" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="harmony2" type="text"/></td>
            <td><input id="harPartition2" type="text"/></td>
            <td><input id="harSelf2" type="text"/></td>
            <td><input id="harSupervisor2" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="harmony3" type="text"/></td>
            <td><input id="harPartition3" type="text"/></td>
            <td><input id="harSelf3" type="text"/></td>
            <td><input id="harSupervisor3" type="text" size="30"/></td>
        </tr><tr>
            <td><input id="harmony4" type="text"/></td>
            <td><input id="harPartition4" type="text"/></td>
            <td><input id="harSelf4" type="text"/></td>
            <td><input id="harSupervisor4" type="text" size="30"/></td>
        </tr>
        <tr>
            <td rowspan="4"> 纪律性10%</td>
            <td><input id="discipline1" type="text"/></td>
            <td><input id="disPartition1" type="text"/></td>
            <td><input id="disSelf1" type="text"/></td>
            <td><input id="disSupervisor1" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="discipline2" type="text"/></td>
            <td><input id="disPartition2" type="text"/></td>
            <td><input id="disSelf2" type="text"/></td>
            <td><input id="disSupervisor2" type="text" size="30"/></td>
        </tr>
        <tr>
            <td><input id="discipline3" type="text"/></td>
            <td><input id="disPartition3" type="text"/></td>
            <td><input id="disSelf3" type="text"/></td>
            <td><input id="disSupervisor3" type="text" size="30"/></td>
        </tr><tr>
            <td><input id="discipline4" type="text"/></td>
            <td><input id="disPartition4" type="text"/></td>
            <td><input id="disSelf4" type="text"/></td>
            <td><input id="disSupervisor4" type="text" size="30"/></td>
        </tr>
        <tr>
            <td colspan="2"> 总分</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text" size="30"/></td>
        </tr>
        <tr>
            <td>备注:</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>考核人签名</td>
            <td><input type="text"/></td>
            <td>领导签字</td>
            <td><input type="text"/></td>
            <td>考核日期:<input type="text"/></td>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $.get('/checkitemList',function (data) {
            $('#task1').val(data[0].task1);
            $('#task2').val(data[0].task2);
            $('#task3').val(data[0].task3);
            $('#task4').val(data[0].task4);

            $('#quality1').val(data[0].quality1);
            $('#quality2').val(data[0].quality2);
            $('#quality3').val(data[0].quality3);
            $('#quality4').val(data[0].quality4);

            $('#skill1').val(data[0].skill1);
            $('#skill2').val(data[0].skill2);
            $('#skill3').val(data[0].skill3);
            $('#skill4').val(data[0].skill4);

            $('#attitude1').val(data[0].attitude1);
            $('#attitude2').val(data[0].attitude2);
            $('#attitude3').val(data[0].attitude3);
            $('#attitude4').val(data[0].attitude4);

            $('#harmony1').val(data[0].harmony1);
            $('#harmony2').val(data[0].harmony2);
            $('#harmony3').val(data[0].harmony3);
            $('#harmony4').val(data[0].harmony4);

            $('#discipline1').val(data[0].discipline1);
            $('#discipline2').val(data[0].discipline2);
            $('#discipline3').val(data[0].discipline3);
            $('#discipline4').val(data[0].discipline4);

        })
        $.get('/partitionList',function (data) {

            $('#taskPartition1').val(data[0].taskPartition1);
            $('#taskPartition2').val(data[0].taskPartition2);
            $('#taskPartition3').val(data[0].taskPartition3);
            $('#taskPartition4').val(data[0].taskPartition4);

            $('#quaPartition1').val(data[0].quaPartition1);
            $('#quaPartition2').val(data[0].quaPartition2);
            $('#quaPartition3').val(data[0].quaPartition3);
            $('#quaPartition4').val(data[0].quaPartition4);

            $('#skillPartition1').val(data[0].skillPartition1);
            $('#skillPartition2').val(data[0].skillPartition2);
            $('#skillPartition3').val(data[0].skillPartition3);
            $('#skillPartition4').val(data[0].skillPartition4);

            $('#attPartition1').val(data[0].attPartition1);
            $('#attPartition2').val(data[0].attPartition2);
            $('#attPartition3').val(data[0].attPartition3);
            $('#attPartition4').val(data[0].attPartition4);

            $('#harPartition1').val(data[0].harPartition1);
            $('#harPartition2').val(data[0].harPartition2);
            $('#harPartition3').val(data[0].harPartition3);
            $('#harPartition4').val(data[0].harPartition4);

            $('#disPartition1').val(data[0].disPartition1);
            $('#disPartition2').val(data[0].disPartition2);
            $('#disPartition3').val(data[0].disPartition3);
            $('#disPartition4').val(data[0].disPartition4);

        })
        $.get('/selfevaluationList',function (data) {

            $('#taskSelf1').val(data[0].taskSelf1);
            $('#taskSelf2').val(data[0].taskSelf2);
            $('#taskSelf3').val(data[0].taskSelf3);
            $('#taskSelf4').val(data[0].taskSelf4);

            $('#quaSelf1').val(data[0].quaSelf1);
            $('#quaSelf2').val(data[0].quaSelf2);
            $('#quaSelf3').val(data[0].quaSelf3);
            $('#quaSelf4').val(data[0].quaSelf4);

            $('#skillSelf1').val(data[0].skillSelf1);
            $('#skillSelf2').val(data[0].skillSelf2);
            $('#skillSelf3').val(data[0].skillSelf3);
            $('#skillSelf4').val(data[0].skillSelf4);

            $('#attSelf1').val(data[0].attSelf1);
            $('#attSelf2').val(data[0].attSelf2);
            $('#attSelf3').val(data[0].attSelf3);
            $('#attSelf4').val(data[0].attSelf4);

            $('#harSelf1').val(data[0].harSelf1);
            $('#harSelf2').val(data[0].harSelf2);
            $('#harSelf3').val(data[0].harSelf3);
            $('#harSelf4').val(data[0].harSelf4);

            $('#disSelf1').val(data[0].disSelf1);
            $('#disSelf2').val(data[0].disSelf2);
            $('#disSelf3').val(data[0].disSelf3);
            $('#disSelf4').val(data[0].disSelf4);

        })
        $.get('/supervisorList',function (data) {

            $('#taskSupervisor1').val(data[0].taskSupervisor1);
            $('#taskSupervisor2').val(data[0].taskSupervisor2);
            $('#taskSupervisor3').val(data[0].taskSupervisor3);
            $('#taskSupervisor4').val(data[0].taskSupervisor4);

            $('#quaSupervisor1').val(data[0].quaSupervisor1);
            $('#quaSupervisor2').val(data[0].quaSupervisor2);
            $('#quaSupervisor3').val(data[0].quaSupervisor3);
            $('#quaSupervisor4').val(data[0].quaSupervisor4);

            $('#skillSupervisor1').val(data[0].skillSupervisor1);
            $('#skillSupervisor2').val(data[0].skillSupervisor2);
            $('#skillSupervisor3').val(data[0].skillSupervisor3);
            $('#skillSupervisor4').val(data[0].skillSupervisor4);

            $('#attSupervisor1').val(data[0].attSupervisor1);
            $('#attSupervisor2').val(data[0].attSupervisor2);
            $('#attSupervisor3').val(data[0].attSupervisor3);
            $('#attSupervisor4').val(data[0].attSupervisor4);

            $('#harSupervisor1').val(data[0].harSupervisor1);
            $('#harSupervisor2').val(data[0].harSupervisor2);
            $('#harSupervisor3').val(data[0].harSupervisor3);
            $('#harSupervisor4').val(data[0].harSupervisor4);

            $('#disSupervisor1').val(data[0].disSupervisor1);
            $('#disSupervisor2').val(data[0].disSupervisor2);
            $('#disSupervisor3').val(data[0].disSupervisor3);
            $('#disSupervisor4').val(data[0].disSupervisor4);

        })
    });
</script>
