
<!--工具栏-->
<!--<div id="processedReq_toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="">查询</a>
</div>-->
<div id="consumable_toolbar" style="padding:5px;height: auto">
    <div style="float: right;left: 50px">
        <input style="width: 250px" class="easyui-textbox" data-options="prompt:'请输入物料名称...',
        icons:[
        {
            iconCls:'icon-clear',
            handler:function(e){
                $(e.data.target).textbox('setValue','');
            }
        },
        {
            iconCls:'icon-search',
            handler: function(e){
                var v = $(e.data.target).textbox('getValue');
                $('#consumable_dg').datagrid('load',{
                searchName: $('#searchName').val()
              });
            }
		}]" type="text" id="searchName"/>
        <!--<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doSearch()">查询</a>-->
    </div>
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
           onclick="javascript:$('#consumable_dg').edatagrid('addRow')">新建</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
           onclick="javascript:$('#consumable_dg').edatagrid('destroyRow')">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true"
           onclick="javascript:$('#consumable_dg').edatagrid('saveRow')">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true"
           onclick="javascript:$('#consumable_dg').edatagrid('cancelRow')">取消</a>
    </div>
</div>
</div>
<table id="consumable_dg"></table>
<script>
    $('#consumable_dg').edatagrid({
        url:'/consumable/list',//数据源
        saveUrl: '/consumable/addList',
        updateUrl: '/consumable/updateList',
        destroyUrl: '/consumable/deleteList',
        columns:[
            [
                {field:'id',title:'物料編碼',width:100},
                {field:'materialName',title:'物料名称',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'production_date',title:'生产日期',width:100,
                    editor:{
                        type:'datebox',
                        options:{
                            editable:false,
                            required:true,
                            validType:'compareToday'
                        }
                    }
                },
                {field:'specification',title:'规格',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'materialDesc',title:'物料描述',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'materialType',title:'物料类别',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'get_count',title:'领取数量',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'unit',title:'计量单位',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'shelf_location',title:'保存位置',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'shelf_life',title:'保存年限',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },
                {field:'unit_price',title:'单价',width:100,
                    editor:{
                        type:'validatebox',options:{required:true}
                    }
                },

                {field:'proName',title:'供应商名称',width:100,
                    editor:{
                        type:'combobox',
                        options:{
                            editable:false,
                            panelHeight:'auto',
                            required:true,
                            url:'/provider/list',
                            valueField:'id',
                            textField:'proName',
                            onLoadSuccess:function(){
                                var row =$('#consumable_dg').edatagrid('getSelected');
                                var rowIndex=$('#consumable_dg').edatagrid('getRowIndex',row);
                                var ed= $('#consumable_dg').edatagrid('getEditor',{index:rowIndex,field:'proName'});
                                var proName=$(ed.target).combobox('getValue');
                                var comboxData=$(this).combobox('getData');
                                console.info(comboxData);
                                for(var i=0;i<comboxData.length;i++){
                                    if(comboxData[i].proName==proName){
                                        $(this).combobox('select',comboxData[i].id);
                                        break;
                                    }
                                }
                            }
                        }
                    }
                },
            ]
        ],
        fit:false,
        pagination:true,
        idField:'id',
        rownumbers:true,
        fitColumns:true,
        singleSelect:true, //false:多选，true:单选
        remoteSort:false,
        sortName:'id',      //排序字段
        sortOrder:'asc',    //升序
        toolbar:'#comsumable_toolbar',//设置工具栏
        // 如果没有数据，就增加提示
        onLoadSuccess:function(data){
            if (data.total == 0) {
                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
                $(this).edatagrid('appendRow', { id: '<div style="text-align:center;color:red">没有相关记录！</div>' })
                    .edatagrid('mergeCells', { index: 0, field: 'id', colspan: 13})
                    .edatagrid('hideColumn','ck');
                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
            }
            //如果通过调用reload方法重新加载数据有数据时显示出分页导航容器
            else $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').show();
        }
    });

    //设置分页控件
    var p=$('#consumable_dg').edatagrid('getPager');
    $(p).pagination({
        pageSize:10,
        pageList:[5,10,15],
        beforePageText:'第',
        afterPageText:'页    共{pages}页',
        displayMsg:'当前显示 {from} - {to} 条记录  共 {total} 条记录'
    });

    //扩展dategrid的datebox验证
    $.extend($.fn.validatebox.defaults.rules, {
        compareToday:{
            validator: function (value) {
                var date = new Date();
                return Date.parse(value) <= Date.parse(date);
            },
            message: '所选日期应不大于当前时间!'
        }
    });
</script>