<table id="lib_dg">
    <thead>
    <tr>
        <th field="id" width="20" align="center" halign="center" sortable="true">编号</th>
        <th field="fileName" width="100" align="center" halign="center" editor="{type:'validatebox',options:{required:true}}">文件名</th>
        <th field="empName" width="50" align="center" halign="center" editor="{type:'validatebox',options:{required:true}}">上传人</th>
        <th field="uploadingDate" width="50" align="center" halign="center" editor="{type:'validatebox',options:{required:true}}" sortable="true">上传时间</th>
        <th field="type" width="50" align="center" halign="center" editor="{type:'validatebox',options:{required:true}}">文件类型</th>
        <th field="filePath" width="50" align="center" halign="center" editor="{type:'validatebox',options:{required:true}}">文件路径</th>
    </tr>
    </thead>
</table>
<div id="lib_toolbar" style="padding:5px;height: auto">
    <div style="float: right;left: 50px">
        文件名：<input class="easyui-textbox" id="searchName" style="width: 150px" data-options="
        icons:
        [
            {
                iconCls:'icon-clear',
                handler:function(e){
                    $(e.data.target).textbox('setValue','');
                }
            }
        ]">
        文档类型：<input class="easyui-combobox" id="searchType" style="width:100px;" panelHeight="auto" url="/library/type" valueField="type" value="所有类型"  textField="type" editable="false">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doSearch()">查询</a>
    </div>
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
           onclick="javascript:$('#lib_dg').edatagrid('addRow')">新建</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
           onclick="javascript:$('#lib_dg').edatagrid('destroyRow')">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true"
           onclick="javascript:$('#lib_dg').edatagrid('saveRow')">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true"
           onclick="javascript:$('#lib_dg').edatagrid('cancelRow')">取消</a>
    </div>
</div>
<script>
    $(function(){
        //edatagrid加载配置
        $('#lib_dg').edatagrid({
            url:'library/list',
            saveUrl:'library/add',
            updateUrl:'library/modify',
            destroyUrl:'library/delete',
            fit:false,
            //title:'文库信息',
            toolbar:'#lib_toolbar',
            pagination:true,
            idField:'id',
            rownumbers:true,
            fitColumns:true,
            singleSelect:true,
            remoteSort:false,
            sortName:'id',
            sortOrder:'asc',
            //各行换色
            /*rowStyler: function(index,row){
                if ((index % 2)==0){
                    return 'background-color:rgb(233,241,254)';
                }
            },*/
            //删除时消息提示
            destroyMsg:{
                norecord:{	// when no record is selected
                    title:'警告',
                    msg:'没有选中要删除的文档'
                },
                confirm:{	// when select a row
                    title:'删除',
                    msg:'你真的要删除该文档吗？'
                }
            }
        });

        //设置分页控件
        var p=$('#lib_dg').edatagrid('getPager');
        $(p).pagination({
            pageSize:10,
            pageList:[5,10,15],
            beforePageText:'第',
            afterPageText:'页    共{pages}页',
            displayMsg:'当前显示 {from} - {to} 条记录  共 {total} 条记录'
        });
    });
    //查询方法
    function doSearch(){
        $('#lib_dg').datagrid('load',{
            searchType: $('#searchType').combobox('getText'),
            searchName:$('#searchName').val()
        });
    }
</script>