<a id="viewerPlaceHolder_structure" style="width: 1400px;height:730px;display:block"></a>
<script>
    var fp = new FlexPaperViewer(
        'FlexPaperViewer',
        'viewerPlaceHolder_structure', {
            config: {
                SwfFile: encodeURI('static/upload/library/83110436-b006-4999-8bdc-5391619a0bba.swf'),
                Scale: 1,
                ZoomTransition: 'easeOut',
                ZoomTime: 0.5,
                ZoomInterval: 0.2,
                FitPageOnLoad: true,
                FitWidthOnLoad: true,
                FullScreenAsMaxWindow: false,
                ProgressiveLoading: false,
                MinZoomSize: 0.2,
                MaxZoomSize: 5,
                SearchMatchAll: false,
                InitViewMode: 'SinglePage',

                ViewModeToolsVisible: true,
                ZoomToolsVisible: true,
                NavToolsVisible: true,
                CursorToolsVisible: true,
                SearchToolsVisible: true,

                localeChain: 'zh_CN'
            }
        }
    );
    </script>