<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsj.lims.dao.DetectionItemMapper">
    <select id="list" resultType="DetectionItem">
        SELECT id,itemName from detection_item where FIND_IN_SET(#{sampleId},sampleId)>0
    </select>
</mapper>