<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsj.lims.dao.SampleTestReqMapper">
    <select id="getSampleTestReq" resultType="SampleTestReq">
        select s1.*,sampleName from sample_test_req s1,sample s2
        where s1.sampleId=s2.id and state=#{state} limit #{start},#{size}
    </select>

    <select id="count" resultType="int">
        select count(1) from sample_test_req where state=#{state}
    </select>

    <update id="processing">
        update sample_test_req set state = 2 where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </update>

    <insert id="addSampleTestReq">
      insert into sample_test_req(sampleReqId, staffId, deptId, reqDate, sampleId, count, providerId, itemId, speed)
      value (#{sampleReqId}, #{staffId}, #{deptId}, #{reqDate}, #{sampleId}, #{count}, #{providerId}, #{itemId}, #{speed})
    </insert>
</mapper>